@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*  html {*/
/*    font-family: 'TBCXRegular';*/
/*  }*/
/*}*/

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@font-face {
  font-family: 'TBCXLight';
  font-style: normal;
  src: url('/fonts/tbc/TBCXLight.eot');
  src: url('/fonts/tbc/TBCXLight.eot') format('embedded-opentype'),
  url('/fonts/tbc/TBCXLight.woff2') format('woff2'),
  url('/fonts/tbc/TBCXLight.woff') format('woff'),
  url('/fonts/tbc/TBCXLight.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'TBCXRegular';
  font-style: normal;
  src: url('/fonts/tbc/TBCXRegular.eot');
  src:
          url('/fonts/tbc/TBCXRegular.eot') format('embedded-opentype'),
          url('/fonts/tbc/TBCXRegular.ttf') format('truetype'),
          url('/fonts/tbc/TBCXRegular.woff') format('woff'),
          url('/fonts/tbc/TBCXRegular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TBCXMedium';
  font-style: normal;
  src: url('/fonts/tbc/TBCXMedium.eot');
  src:
          url('/fonts/tbc/TBCXMedium.eot') format('embedded-opentype'),
          url('/fonts/tbc/TBCXMedium.ttf') format('truetype'),
          url('/fonts/tbc/TBCXMedium.woff') format('woff'),
          url('/fonts/tbc/TBCXMedium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TBCXBold';
  font-style: normal;
  src:
          url('/fonts/tbc/TBCXBold.eot') format('embedded-opentype'),
          url('/fonts/tbc/TBCXBold.ttf') format('truetype'),
          url('/fonts/tbc/TBCXBold.woff') format('woff'),
          url('/fonts/tbc/TBCXBold.woff2') format('woff2');
  font-display: swap;
}



@font-face {
  font-family: 'TBCXBlack';
  font-style: normal;
  src: url('/fonts/tbc/TBCXBlack.eot');
  src: url('/fonts/tbc/TBCXBlack.eot') format('embedded-opentype'),
  url('/fonts/tbc/TBCXBlack.woff2') format('woff2'),
  url('/fonts/tbc/TBCXBlack.woff') format('woff'),
  url('/fonts/tbc/TBCXBlack.ttf') format('truetype');
  font-display: swap;
}

* {
  outline: none;
}

.main-swiper.swiper {
  overflow: visible !important;
}
.main-swiper .swiper-slide {
  opacity: 0.2;
  pointer-events: none;
}
.main-swiper .swiper-slide-visible {
  opacity: 1;
  pointer-events: visible;
}
@media(min-width: 1400px) {
  .main-swiper .swiper-button-prev {
    left: -80px !important;
  }
  .main-swiper .swiper-button-next {
    right: -80px !important;
  }
}
@media(min-width: 1536px) {
  .main-swiper .swiper-button-prev {
    left: -110px !important;
  }
  .main-swiper .swiper-button-next {
    right: -110px !important;
  }
}
.details-swiper .swiper-slide-prev,
.details-swiper .swiper-slide-next {
  opacity: 0.3;
}
.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1 !important;
}
.swiper-thumbs .swiper-slide {
  opacity: 0.4;
}

.swiper-slide-active {
  position: relative !important;
}
.swiper-button-disabled {
  opacity: 0;
  transition: 0.3s all;
}
.swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom:20px;
  gap:4px;
  padding-left: 4px;
  padding-right: 4px;
}
.swiper-pagination-fraction {
  background: #fff;
  width: auto !important;
  border-radius: 8px;
  padding: 4px 12px;
  left: 50% !important;
  transform: translateX(-50%) !important;
}


.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0!important;
  transition: 0.3s all;
}
.swiper-button-prev,
.swiper-button-next {
  background: #fff;
  border-radius: 20px;
  width: 56px !important;
  height: 56px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 46px !important;
    height: 46px !important;
    display: none !important;
  }
}

.swiper-button-prev:after {
  content: '' !important;
  background: url(/icons/caret-left.svg) no-repeat center center;
  width: 26px;
  height: 26px;
}
.swiper-button-next:after {
  content: '' !important;
  background: url(/icons/caret-right.svg) no-repeat center center;
  width: 26px;
  height: 26px;
}

@media (max-width: 480px) {
  .react-datepicker__month {
    margin: 0 !important;
  }
  .react-datepicker__day-name,
  .react-datepicker__day {
    margin: 1px !important;
  }
}
.react-datepicker__tab-loop {
  position: absolute;
}
/* Date Picek */
.react-datepicker {
  border: none !important;
  /* z-index: -1 !important; */
}
.react-datepicker__header {
  background-color: #ffffff !important;
  border-bottom: none !important;
}

.react-datepicker__month-container {
  border: none !important;
  box-shadow: none !important;
}
@media(min-width: 1200px) {
  .react-datepicker__month-container {
    padding-left:16px !important;
  }
}
.react-datepicker-popper {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding-top:0px !important;
  background-color:#fff;
  border-radius:16px;
  padding-top:16px;
}
.react-datepicker-popper > div {
  
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0 !important;
  border-color: #1b1c1e !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: rgba(84, 150, 132, 0.2) !important;
  color: #1b1c1e !important;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background: #549684 !important;
  color: #ffffff !important;
  border-radius: 14px !important;
  font-weight: 400 !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background: #549684 !important;
  color: #ffffff !important;
  border-radius: 14px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 44px !important;
  line-height: 44px !important;
  border-radius: 14px !important;
}

.react-datepicker__triangle {
  display: none !important;
}
@media only screen and (max-width: 1024px) {
  .react-datepicker {
    display:flex !important;
    justify-content: space-around;
  }
  .css-b62m3t-container {
    width:140px;
  } 
}

/* @media only screen and (max-width: 1024px) {
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 25px !important;
    line-height: 25px !important;
    border-radius: 14px !important;
  }
} */
/* @media only screen and (max-width: 640px) {
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 26px !important;
    line-height: 26px !important;
    border-radius: 14px !important;
  }
} */


.css-17db9ma-control {
  height: 56px !important;
  border-radius: 8px !important;
  padding: 2px 20px !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.css-24zbih-ValueContainer {
  margin-top: 0px !important;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
  white-space: nowrap;
  -ms-overflow-style: none;
}


input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.css-3w2yfm-ValueContainer, .css-1dyz3mf {
  flex-wrap: nowrap !important;
  -webkit-line-clamp: 1;
  overflow-x: auto !important;
  display: -webkit-box !important;
  padding-top: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.css-3w2yfm-ValueContainer::-webkit-scrollbar {
  height: 0px;
}
.css-1dyz3mf::-webkit-scrollbar {
  height: 0px;
}

.css-1nmdiq5-menu {
padding-top:8px;
padding-bottom:8px;
}
.css-d32dvm-placeholder {
  color: #272A37 !important;
}
.focus-visible\:ring-2:focus-visible {
  --tw-ring-offset-shadow: none !important;
}
.my-slide-element {
  transition: transform 0.5s ease-in-out; /* Adjust properties as needed */
}

.my-slide-element.slide-in {
  transform: translateX(100px); /* Adjust the transformation as needed */
}

.group-color .css-keloal-control {
 background:transparent;
 border: 1px solid var(--Green-Green-100, #549684);
 height:48px;
 border-radius:12px;
}
.group-color .css-g3equt-control {
  background:transparent;
  border: 1px solid var(--Green-Green-100, #549684);
  height:48px;
  border-radius:12px;
 }
 .group-color .css-1f6quk8-control {
  background:transparent;
  border: 1px solid var(--Green-Green-100, #549684);
  height:48px;
  border-radius:12px;
 }
 .group-color .css-r067w9-control {
   background:transparent;
   border: 1px solid var(--Green-Green-100, #549684);
   height:48px;
   border-radius:12px;
  }
  .css-1f6quk8-control{
    height:48px;
  }
  

.group-color svg {
  fill: var(--Green-Green-100, #549684);
  fill: var(--Green-Green-100, #549684) !important;
 }
.option-field-size .css-1nmdiq5-menu {
  
}
.manufacturer_options {
  background-color:red !important;
}